.about-text {
  text-align: justify;
  padding: 5px;
}
.skills {
  display: -webkit-grid;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 2rem);
  padding: 2rem;
  margin: 0;
}
.skills li {
  list-style: none;
}
.lang {
  align-items: center;
}
.about .masawino {
  width: auto;
}
.about h1 {
  margin: 0;
}
.shm {
  width: 18rem;
  padding: 10px;
  margin: 10px;
  float: left;
  border-radius: 51% 0rem;
  background: var(--master-bg);
  box-shadow: var(--app-shadow);
}
/*mgrove@svcgroup.c */
@media only screen and (min-width: 100px) and (max-width: 960px) {
  .about-text {
    text-align: justify;
  }
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
  .about h1 {
    height: 5rem;
  }
  .shm {
    width: 10rem;
    padding: 0;
  }
}
