/**********************************\
/          *** Foote(--r ***           \ 
/************************************/
.footer {
  text-align: center;
  display: block;
  height: auto;
  width: 100%;
  background: var(--footer-bg, #ccc);
  color: var(--text-color);
  padding: 5% 0%;
}
div.footer p {
  font-size: var(--smallfont);
  color: var(--text-color);
}

.quote {
  position: absolute;
  width: 100%;
  height: auto;
  color: #ffc;
  font-family: var(--esp-style);
  background: radial-gradient(rgba(3, 3, 3, 0.315), rgba(204, 204, 204, 0.164));
  margin: 0;
  border-radius: 2rem;
  font-size: var(--mediumfont);
  font-weight: 200;
}
