/**********************************\
/          *** Foote(--r ***           \ 
/************************************/
.footer {
  text-align: center;
  display: block;
  /* height: 31rem; */
  width: 100%;
  background: var(--footer-bg);
  color: var(--text-color);
}
div.footer p {
  font-size: var(--mediumfont);
  color: var(--text-color);
}

.quote {
  position: relative;
  bottom: 0;
  height: auto;
  color: #ffc;
  font-family: var(--esp-style);
  background: radial-gradient(rgba(3, 3, 3, 0.253), rgba(204, 204, 204, 0.164));
  margin: 0;
  font-size: var(--mediumfont);
  font-weight: 200;
}
