div .openlist,
.closedmenu,
.option nav,
img.menu,
img.close {
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 150;
}
.option a {
  font-size: var(--mediumfont);
  display: block;
  margin: 30%;
  max-width: 100%;
}

.option nav {
  display: block;
  width: 12rem;
  height: auto;
  background: rgba(14, 69, 84, 0.74);
  z-index: 10;
  border-radius: 12px 3px;
}

.option .close,
.option .menu {
  display: inline-block;
}

.option nav img {
  display: none;
}
.option .list {
  display: block;
  font-family: var(--mediumfont);
  position: relative;
  top: 0px;
  z-index: 150;
  padding: 1px;
  margin-left: 1px;
  text-align: left;
  border-radius: 3rem 50rem 1rem 1rem;
  background: #fbfbfbb3;
}
.option .list a.active:not(:first-child) {
  background: none;
  height: auto;
  border-radius: 5%;
  border-bottom: 4px solid #c95f12;
  outline: 0;
}
.option nav a:not(:first-child):hover {
  color: #000;
}
div .openlist,
.close {
  position: fixed;
  top: 2px;
  right: 2px;
}
#net {
  height: 100vh;
  width: 100vw;
}
@media only screen and (orientation: landscape) and (max-height: 450px) {
  .option .list {
    /*used to allow scroll of menu list*/
    height: 300px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    /* older spec implementation */
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
    display: block;
  }
  .App-header p {
    top: 5rem;
  }
  .App-title {
    top: 4rem;
  }
}
