div.proj {
  display: flex;
  justify-content: space-between;

  overflow: hidden;
}
div.subpro {
  flex: 2;
  padding: 10px;
}

@media only screen and (min-width: 100px) and (max-width: 760px) {
  div.proj {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
