.nav-bar {
  position: absolute;
  top: 88%;
  height: auto;
  width: 100%;
  overflow: hidden;
  z-index: 50;
}
a{
  position: relative;
  text-decoration: none; 
  outline: 0;
  max-width: 100%;
  padding: 3%;
  display: inline;
  color: rgb(204, 250, 251);  
  font-family: Diplomata, cursive; 
}

nav a:not(:first-child):hover { 
  background: rgba(171, 192, 192, 0.47);
  border-radius: 0.2rem;
  color: rgb(98, 250, 143);  
} 

nav a:not(:first-child):focus {
  background: linear-gradient(rgba(236, 34, 7, 0.35), transparent);
  height: 4rem;
  border-radius: 5%;
}
.sticky {
  top:0;
  position: fixed;
  background: rgba(1, 2, 15, 0.589);
  height: 15vh;
  width: 100%;
  padding: 1%;
}
.sticky a:not(:first-child):hover { 
  background: rgba(171, 192, 192, 0.47);
  border-radius: 0.2rem;
  color: rgb(98, 250, 143);  
} 
