.nav-bar {
  position: absolute;
  top: 90%;
  height:10vh;
  width: 100%;
  overflow: hidden;
  z-index: 50;
  background: rgba(184, 228, 119, 0.25);
  text-align: right;
}

.list {
  position: absolute;
  top: 30%;
  width: 100%;
  background: none;
}
a:not(:first-child){ 
  text-decoration: none; 
  outline: 0;
  max-width: 100%;
  display: inline;
  color: rgb(204, 250, 251);  
  font-family: Diplomata, cursive; 
  font-size: 15px;
  padding: 1%;
  margin: 1%;
}

nav a:not(:first-child):hover { 
  background: rgba(171, 192, 192, 0.47);
  border-radius: 0.2rem;
  color: rgb(98, 250, 143);  
} 

.list a:not(:first-child):focus {
  background: linear-gradient(rgba(248, 41, 14, 0.424), transparent);
  height: 4rem;
  border-radius: 5%;
  outline: 0;
}
.sticky {
  top:0;
  position: fixed;
  background: rgba(1, 2, 15, 0.589);
  height: 10vh;
  width: 100%;
  padding: 1%;
}
.sticky a:not(:first-child):hover { 
  background: rgba(171, 192, 192, 0.47);
  border-radius: 0.2rem;
  color: rgb(98, 250, 143);  
} 
#cross-arrow,
#list-boat {

  width: 50px;
  display: inline;
  position: absolute;
  right: 0;
  top: 10px;
}