.nav {
    background: repeating-linear-gradient(#111114, #00ffc9);
    height: 7rem;
    border: 1px salmon;
    
  }
  .nav li,a {
    color: white;
    display:  inline-flex;
    text-align: center;
    text-decoration: none; 
    list-style: none;
    padding: 5px;
    margin: 5px;
  
  }
  
  ul {
    position: absolute;
    width: 100%;
    margin: 1.6rem 0rem;
    
  }

li:hover {
    background: rgba(17, 255, 238, 0.47);
    border-radius: 2rem 1rem;
  }

.sticky{
    position: fixed;
    height: 5rem;
    width: 100%;
    background: rgba(61, 8, 8, 0.678);
    border-bottom: 10px rgb(94, 14, 6);
    z-index: 20;
  }