.option nav, img {
    position: absolute;
    right: 1%;
    top: 1%;
}

.option a {
    display: block;
    padding: 5%;
    margin: 2%;
    max-width: 100%;
}

.option nav{
    display: block;
    width: 14rem;
    height: auto;
    background: rgba(26, 2, 2, 0.664);
    z-index: 1;
}

.option img {
    display: inline-block;
    width: 9%;
    z-index: 5;
  }
  .option nav a:hover {
     
  }
  .option nav img{
      display: none;
  }
  .option nav img:hover {
    background:red;
}
