.option nav, img {
    position: absolute;
    right: 1%;
    top: 1%;
}

.option  a {
    display: block;
    padding: 7%;
    margin: 7%;
    max-width: 100%;
}

.option nav{
    display: block;
    width: 14rem;
    height: auto;
    background: rgba(26, 2, 2, 0.4);
    z-index: 1;
    border-radius: 2rem 1rem;
}

.option img {
    display: inline-block;
    width: 9%;
    z-index: 5;
  }

  .option nav img{
      display: none;
  }
  

.list{
    display: block;
    position: relative;
    text-align: center;
    border-radius: 3% 10rem;
   
}