.App {
  text-align: center;
}

.App-logo {
  float: left;
  position: relative;
  animation: App-logo-spin infinite 5s cubic-bezier(1,-0.09,.44,.93);
  height: 4.5rem;
}

.active{
  background: rgba(128, 1, 167, 0.479);
}
.App-header {
  background:rgba(156, 255, 230, 0.931);
  height: 125vw;
  color: black;
  border-radius: 1rem 0rem ;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
  
}