/**********************************\
/*         *** Site Theme ***       \ 
/************************************/
:root {
  --app-color: rgb(204, 250, 251);
  --app-color-b: #445673;
  --app-theme: #1b4d71b3;
  --app-bg-color: #fce6ba;
  --header-bg-img: url('/assets/nef.jpg') 50% 50% no-repeat;
  --title-style: Diplomata, cursive;
  --title-color: #30ff7b;
  --para-style: 'Petit Formal Script', cursive;
  --esp-style: 'Bai Jamjuree', sans-serif;
  --content-bg: linear-gradient(#daffd7, transparent);
  --footer-bg: linear-gradient(#031d2f, #002);
  /*font size*/
  --largefont: 25px;
  --mediumfont: 16px;
  --smallfont: 12px;
}
.App {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 0.5em;
}
.App-header,
.main,
.footer {
  grid-column: 1 / span 3;
}
.App,
.App-title,
#intro {
  text-align: center;
}
/**********************************\
/*            Header                \ 
/************************************/
.App-header {
  position: relative;
  background: url('/assets/nef.jpg') 50% 50% no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.App-header p {
  position: absolute;
  top: 84%;
  padding: 0.78%;
  font-size: large;
  border-radius: 1rem;
  width: 100%;
}

.App-title {
  position: relative;
  top: 66%;
  font-size: 30px;
  color: var(--title-color);
}
/*.App-title:hover {
  opacity: 1;
  background: no-repeat 32% 70%
    url(https://avatars1.githubusercontent.com/u/31252151?s=400&u=8e58e501860b2f24ace46b855576a972d2d7edb9&v=4);
  background-size: contain;
}*/
#intro {
  color: var(--app-color);
}
/*Logo animation*/
.App-logo {
  position: absolute;
  left: 0px;
  animation: App-logo-spin infinite 10s cubic-bezier(1, -0.09, 0.44, 0.93);
  width: 3rem;
  margin-left: 2rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/**********************************\
/          *** Main Content ***     \ 
/************************************/
.main {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
/* style to target the route rendered elements*/
.home,
.about,
.contact,
.timeline,
.projects {
  padding: 7% 2%;
  text-align: left;
  width: 100%;
  background: var(--content-bg);
}

/**********************************\
/          Image style......        \ 
/************************************/
/*Image style*/
.masawino {
  float: right;
  padding: 2px;
  width: auto;
  border-radius: 1%;
  -webkit-box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.85);
}
.img-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/**********************************\
/          *** Footer ***           \ 
/************************************/
.footer {
  text-align: center;
  display: block;
  height: auto;
  width: 100%;
  background: var(--footer-bg, #ccc);
  color: rgb(69, 255, 129);
  padding: 5% 0%;
}

/**********************************\
/   ***Responsive design***         \ 
/************************************/
/****************************
  ***mobile phones first*** 
  ****************************/

@media only screen and (min-width: 100px) and (max-width: 300px) {
  h1,
  h2,
  p {
    font-size: var(--smallfont);
  }
  .option {
    display: block;
  }
  .nav-bar {
    height: 12vh;
  }

  div.LI-profile-badge {
    position: relative;
    /*width: 100vw;*/
  }
  .main {
    display: block;
    width: 100vw;
    flex-wrap: wrap;
  }
  div.App,
  .App-header,
  .main,
  .footer {
    grid: auto-flow dense / 100%;
    grid-gap: none;
  }
  .masawino {
    width: 100%;
  }
  div.sticky {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
  img {
    width: 100%;
  }
}

/****************
  ***For Tablets***
  ****************************/

@media only screen and (min-width: 301px) and (max-width: 960px) {
  h1,
  h2,
  p {
    font-size: var(--mediumfont);
  }
  .option {
    display: block;
  }

  .masawino {
    width: 100%;
  }
  div.App,
  .App-header,
  .main,
  .footer {
    grid: auto-flow dense / 100%;
    grid-gap: none;
  }
  img {
    width: 100%;
  }
}

/****************
  ***For Desktops***
  ****************************/
@media only screen and (min-width: 961px) {
  nav a:not(:first-child) {
    display: inline;
  }
  h1,
  h2 {
    font-size: var(--largefont);
  }
}

h1,
h2 {
  font-family: var(--title-style);
}
h3 {
  font-family: var(--esp-style);
}
p,
img,
i,
em {
  font-family: var(--para-style);
}
aside a,
li {
  font-family: var(--para-style);
}
