* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 150%;
}

div.LI-profile-badge {
  z-index: -1;
}
div.LI-profile-badge .LI-badge-container.vertical.light {
  position: sticky;
  -webkit-box-shadow: var(--app-shadow);
  -moz-box-shadow: var(--app-shadow);
  box-shadow: var(--app-shadow);
  border-radius: 2%;
  z-index: -1;
}
div.LI-profile-pic-container img {
  -webkit-box-shadow: 0px 0px 22px 0px #048fc5;
  -moz-box-shadow: 0px 0px 22px 0px #048fc5;
  box-shadow: 0px 0px 22px 0px #048fc5;
}

img.LI-profile-pic {
  width: auto;
}
img,
video,
canvas,
iframe {
  width: 20rem;
}
div p {
  padding: 15px;
}
