* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 150%;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background: var(--app-theme);
}
/***Style for LinkedIn badge***/
aside {
  padding: 0% 1%;
  width: auto;
}

div.LI-profile-badge .LI-badge-container.vertical.light {
  position: sticky;
  -webkit-box-shadow: 0 0 2em 0em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 2em 0em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2em 0em rgba(0, 0, 0, 0.75);
  border-radius: 2%;
}
div.LI-profile-pic-container img {
  -webkit-box-shadow: 0px 0px 22px 0px #048fc5;
  -moz-box-shadow: 0px 0px 22px 0px #048fc5;
  box-shadow: 0px 0px 22px 0px #048fc5;
}

img.LI-profile-pic {
  width: auto;
}
img,
video,
canvas,
iframe {
  width: 25rem;
}
div p {
  padding: 15px;
}
